.swipecard {
  &__comment {
    width: 5rem;
  }
}
.card {
  background-color: #fff;
  width: 400px;
  height: 650px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 1rem;
  margin-top: 4rem;
}

.card h3 {
  position: absolute;
  margin: 10px;
  color: black;
}

.swipecard__video {
  width: 100%;

  /* Video width is set to 100% of its container */
}
.swipe {
  position: absolute;
}
