.swipecard {
  &__comment {
    width: 5rem;
  }
}
.card {
  background-color: #fff;
  width: 25rem;
  height: 40.625rem;

  border-radius: 10px;
  padding: 1rem;
  margin-top: 6rem;
  user-select: none;
  cursor: grab;
}

.first-card .card {
  box-shadow: 0px 0px 3.75rem 0px rgba(0, 0, 0, 0.5);
}

.card h3 {
  position: absolute;
  margin: 0.625rem;
  color: black;
}

.swipecard__video {
  width: 100%;
}
.swipe {
  position: absolute;
}

.feed {
  &__info {
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 28px;
  }
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__cardcontainer {
    margin-top: -1.8rem;
  }

  &__check {
    position: fixed;
    left: 60%;
  }

  &__cross {
    position: fixed;
    right: 60%;
  }
}
