@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;

.dashboard {
  background-color: #f5f5f5;
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: $max-width;
    margin-top: 3rem;
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }

  &__welcome {
    margin-left: 1rem;
  }
  &__videolist {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  &__title {
    margin: 0 0 1rem;
    padding: 0 0 0.5rem;
    border-bottom: 5px solid #080505;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__button {
    display: flex;
    flex-direction: row;
  }

  &__logout {
    margin-top: 2rem;
  }

  &__voucher {
    display: flex;
    justify-content: flex-end;
  }
}
