@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.videopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
  }

  &__info {
    margin-top: 4rem;
    margin-left: 5rem;
  }
}
