@use "../../partials/variables" as *;
@use "../../partials/mixins" as *;
.videopage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: row;
    max-width: $max-width;
    margin-left: 27rem;
    margin-top: 2rem;
  }

  &__info {
    margin-top: 4rem;
    margin-left: -2rem;
  }

  &__animation {
    width: 25rem;
    position: absolute;
    left: 11%;
    top: 57%;
  }
}
