.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__swipecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__cardcontainer {
    width: 25rem;
    height: 40.625rem;
  }
}
