//Screen breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$max-width: 1280px;

//Colour Pallete//

//Primqary//
$primary-black: #13182c;
$primary-indigo: #2e66e5;
$primary-white: #ffffff;

//Secondary//
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

//Background//
$background-graphite: #232940;
$background-lightgrey: #f7f8f9;

//Supporting//
$supporting-green: #158463;
$supporting-green-opaque: rgba(21, 132, 99, 0.5);
$supporting-red: #c94515;
$supporting-red-opaque: rgba(201, 69, 21, 0.5);

//Font Sizes -- Header(Mobile/tablet/desktop), text (Mobile/tablet/desktop).
$header-mobile: 2rem;
$header-tabet: 3rem;
