.commentlist {
  margin-top: 20px;

  &__title {
    margin-right: 20rem;
  }

  &__text {
    width: fit-content;
    height: 10rem;
    border: 0.0625rem solid #ccc;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.5rem;
  }
}
